<%= image_tag(current_user.image) %>
<ul class="followers">
  <h1> <%= @followers.count %> followers</h1>
  <% @followers.each do |follower| %>
  <li class="follower">
    <%= follower %>
  </li>
  <% end %>
<% @repos.each do |repo| %>
  <%= link_to repo[:name], repo_commits_path(repo[:id]) %><br>
<% end %>
<ul class="following">
  <h1>Following <%= @following.count %></h1>
  <% @following.each do |followed| %>
  <li class="following">
    <%= followed %>
  </li>
  <% end %>
</ul>
