<%= image_tag(current_user.image) %>

<ul class="followers">
  <h1> <%= @followers.count %> followers</h1>
  <% @followers.each do |follower| %>
  <%# binding.pry %>
  <li class="follower">
    <%= follower[:login] %>
    <% # NO HASHES IN THE VIEW!!! (follower[:login] is bad) %>
  </li>
  <% end %>

<ul class="following">
  <h1>Following <%= @following.count %></h1>
  <% @following.each do |followed| %>
  <li class="following">
    <%= followed[:login] %>
    <% # NO HASHES IN THE VIEW!!! (follower[:login] is bad) %>
  </li>
  <% end %>
</ul>
